.disciplinas{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

.disciplinas{
	margin-bottom:60px;
}

.disciplinas .tecweb{
	grid-column-start:1;
	grid-row-start:1;
}

.disciplinas.sql{
	grid-column-start:2;
	grid-row-start:1;
}

.disciplinas .engenharia{
	grid-column-start:3;
	grid-row-start:1;
}

.disciplinas .linguagem{
	grid-column-start:4;
	grid-row-start:1;
}

.disciplinas .libras{
	grid-column-start:1;
	grid-row-start:2;
}

.disciplinas .devops{
	grid-column-start:2;
	grid-row-start:2;
}

.disciplinas .gestao{
	grid-column-start:4;
	grid-row-start:2;
}

.tecweb{
	display:grid;
	background: #2E2E2E;
	padding: 55px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: monospace;
	margin-left: 40px;
	margin-right: 10px;
	width: 200px;
	height: 72px;
	text-decoration:none;
}

.sql{
  display:grid;
  background: #848484;
  padding: 55px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: monospace;
  margin-left: 20px;
  margin-right: 10px;
  width: 200px;
  height:72px;
  text-decoration:none;

}

.engenharia {

  background: #2E2E2E;
  display: grid;
  padding: 55px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: monospace;
  margin-right: 10px;
  width: 200px;
  height:72px;
  text-decoration:none;
}

.linguagem {

  background: #848484;
  display: grid;
  padding: 55px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: monospace;
  margin-left: -20px;
  width: 200px;
  height:72px;
  text-decoration:none;
}

.libras{
background: #A4A4A4;
display: grid;
padding: 55px;
font-weight: bold;
font-size: 20px;
color: white;
text-align: center;
font-family: monospace;
margin-left: 40px;
margin-top: 10px;
width: 307px;
height: 65px;
text-align: center;
margin-right: auto;
 text-decoration:none;

}

.devops{
background: #1C1C1C;
display: grid;
padding: 55px;
font-weight: bold;
font-size: 20px;
float: left;
color: white;
text-align: center;
font-family: monospace;
margin-left: 127px;
margin-top: 10px;
width: 307px;
height: 65px;
margin-right: auto;
text-decoration:none;

}

.gestao{
background: #A4A4A4;
display: grid;
padding: 55px;
font-weight: bold;
font-size: 20px;
float: left;
color: white;
text-align: center;
font-family: monospace;
margin-left: -124px;
margin-top: 10px;
width: 306px;
height: 65px;
margin-right: auto;
text-decoration:none;

}

@media (max-width:1200px){
	
.disciplinas{
	display:flex;
	flex-direction:column;
	}	


.tecweb{
	display:flex;
	background: #2E2E2E;
	margin-left:20px;
	margin-bottom:14px;
	width: 200px;
	height: 72px;
	text-decoration:none;
}


.sql{
  display:flex;
  margin-bottom:13px;
  width: 200px;
  height:72px;
  text-decoration:none;

}

.engenharia{
  display:flex;
  margin-left:20px;
  margin-bottom:13px;
  width: 200px;
  height:72px;
  text-decoration:none;

}

.linguagem{
  display:flex;
  margin-left:20px;
  margin-bottom:2px;
  width: 200px;
  height:72px;
  text-decoration:none;

}

.libras{
  display:flex;
  margin-left:20px;
  margin-bottom:2px;
  width: 200px;
  height:72px;
  text-decoration:none;

}
.devops{
  display:flex;
  margin-left:20px;
  margin-bottom:2px;
  width: 200px;
  height:72px;
  text-decoration:none;
}
  
 .gestao{
  display:flex;
  margin-left:20px;
  margin-bottom:13px;
  width: 200px;
  height:72px;
  text-decoration:none;

}

}

