.gridpage{
	display:grid;
	grid-template-columns:20% 30% 10% 25% ;
	
}
.botoes{
	grid-column-start:2;
}

.mural{
	grid-column-start:4;
	
}

.p{
	font-family:monospace;
	font-size:28px;
	margin-top:71px;
	}
	
.bt1{
	display:grid;
	background: #2E2E2E;
	padding: 55px;
	font-weight: bold;
	font-size: 15px;
	color: white;
	text-align: center;
	border-radius: 80px;
	text-transform: uppercase;
	font-family: verdana;
	margin-top:142px;
	margin-left: 40px;
	margin-right: 10px;
	margin-bottom:10px;
	width: 200px;
	height: 40px;
	text-decoration:none;
}

.bt2{
	display:grid;
	background: #2E2E2E;
	padding: 55px;
	font-weight: bold;
	font-size: 15px;
	color: white;
	text-align: center;
	border-radius: 80px;
	text-transform: uppercase;
	font-family: verdana;
	margin-left: 40px;
	margin-right: 10px;
	margin-bottom:10px;
	width: 200px;
	height: 40px;
text-decoration:none;
}
.bt3{
	display:grid;
	background: #2E2E2E;
	padding: 55px;
	font-weight: bold;
	font-size: 15px;
	color: white;
	text-align: center;
	border-radius: 80px;
	text-transform: uppercase;
	font-family: verdana;
	margin-left: 40px;
	margin-right: 10px;
	margin-bottom:10px;
	width: 200px;
	height: 40px;
	text-decoration:none;
}


.container-recados{
	margin: auto;
	width:450px;
	height:25px;
	text-align:center;
	background-color:#a9a7a7;
	border-radius: 4px;
	padding:30px;
	margin: 0 auto;
	margin-top:45px;
	margin-bottom:0px;
	font-size:15px;


}

.container-recados2{
	margin: auto;
	width:450px;
	height:25px;
	text-align:center;
	background-color:#a9a7a7;
	border-radius: 4px;
	padding:30px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:50px;
	font-size:15px;


}

