{% load static %}


<!DOCTYPE=HTML>
<html>
    <head>

        <title>
            Faculdade Inovação Tecnologia - LMS {% block titulo %}  {% endblock %}
        </title>

        <meta name="author" content="Bruno Tomas- 1700548">
        <meta name="author" content="Henrique Saula- 1700084">
        <meta name="author" content="Mariana Benevides- 1700549">
        <meta name="author" content="Nayara de Paula- 1700239">
        <meta name="author" content="Pedro Henrique- 1700552">
        <meta name="author" content="Yasmin de Laia- 1700550">

        <meta charset="UTF-8">

        <meta name="viewport" content="width-device-width, initial-scale=1">

        <link rel="shortcut icon" href="imagens\favicon.ico" >

        <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'estilo-index.css' %}">
        
    </head>

    <body class="body">
        
    <div class="quadro">
    <div class ="imagem">
    <img src="https://github.com/peehscavacini/TecWeb-TF-2B/blob/81755656e9b2e143736f9e4bc7201e549f8fe3e1/logo.png?raw=true" alt="logo" class="logo">
    </div>
    </div>
    <header class="header">
    <input type="checkbox" id="btn-menu">
        
    <label for="btn-menu">&#9776;</label>
        
   <nav class="menu">
<ul>
  <li><a href="/"> Home </a></li>
  <li><a href="/lista_cursos/">Lista de Cursos </a></li>
  <li><a href="/noticias/">Notícias</a></li>
  <li><a href="/contato/">Fale Conosco </a></li>
  <li><a href="/cadastro/"> Cadastro</a>  </li>
  <li> <a href="/novadisciplina/">  Nova disciplina </a> </li>							
  <li> <a href="/login/"> Login </a></li>
</ul>
   </nav>
  </header>

  <main>

        {% block main %}






        {%  endblock %}


  </main>



  <footer class="footer">
    <p>&copy; 2017. Faculdade Tecnologia Inovação.</p>
</footer>
</body>
</html>






    