{% extends 'base2.html' %}

	{% block titulo %} Fale Conosco - LMS {% endblock %}

	    {% block main %}
    <link rel="stylesheet" type="text/css" href="/static/formlogin.css">
        
<div class="containercontato">
<img src="/static/img/iconemenu.png" alt="icone menu">
<form method="POST"action="">

 
<div class="form-input">
        {{ form.errors }}

        
        {% csrf_token %}
<input type="text" placeholder="Nome Completo*" name="nome">
</div>
<div class="form-input">
<input type="email" placeholder="Email*" name="email">
</div>
<textarea name ="mensagem">
    Assunto:
    </textarea><br/>
    <input type="submit" name="submit" value="Enviar" class="btn-login"><br/>
</form>
</div>

        {% endblock %}