<!DOCTYPE=HTML>
<html>
  <head>

    <title>FIT - Disciplinas</title>

    <meta name="author" content="Bruno Tomas- 1700548">
    <meta name="author" content="Henrique Saula- 1700084">
    <meta name="author" content="Mariana Benevides- 1700549">
    <meta name="author" content="Nayara de Paula- 1700239">
    <meta name="author" content="Pedro Henrique- 1700552">
    <meta name="author" content="Yasmin de Laia- 1700550">

    <meta charset="UTF-8">

    <link rel="shortcut icon" href="imagens\favicon.ico" >

    <link rel="stylesheet" type="text/css" href="css\estilo.css">
    <link rel="stylesheet" type="text/css" href="css\estilo-disciplinas.css">


  </head>


  <body class="body">

    <div class="quadro">
      <div class ="imagem">
        <img src="https://github.com/peehscavacini/TecWeb-TF-2B/blob/81755656e9b2e143736f9e4bc7201e549f8fe3e1/logo.png?raw=true" alt="logo" class="logo">
      </div>
    </div>


      <article>
          <header class="header">
          <input type="checkbox" id="btn-menu">

          <label for="btn-menu">&#9776;</label>

          <nav class="menu">
            <ul>
              <li><a href="index.html#"> Home </a></li>
              <li>
                <a href="lista_cursos.html#">
                  Lista de Cursos 
                </a>
              </li>
              <li>
                <a href="noticias.html#">
                  Notícias
                </a>
              </li>
              <li>
                <a href="contato.html#">
                  Fale Conosco 
                </a>
              </li>
              <li>
                <a href="cadastro.html#"> 
                  Cadastro
                </a>
              </li>
              <li>
                <a href="novadisciplina.html#"> 
                  Nova disciplina
                </a>
              </li>             
              <li>
                <a href="login.html#"> 
                  Login
                </a>
              </li>             
            </ul>
          </nav>
        </header>
      </article>
  

    <div class="quadro">  
      <header class="titulo">
        <h2>
          Sistemas de Informação 
        </h2>
      </header>  
        
    <img src='imagens/sistemasdeinformacao.jpg' class="propaganda" alt='SI-Faculdade Inovação Tecnologia'/>
  


     


    <h3>SOBRE O CURSO</h3>

    <p class="texto">Este curso visa formar empreendedores, profissionais e pesquisadores focados na construção, manutenção e evolução dos sistemas computacionais de apoio às organizações. 

    O perfil empreendedor é alcançado fazendo com que os alunos possam criar suas próprias startups e produtos inovadores durante os quatro semestres finais do curso. 
     
    O perfil profissional é alcançado desenvolvendo no aluno a capacidade de entender e analisar problemas reais e a desenvolver soluções pragmáticas com o uso de tecnologias de melhor custo benefício. 
     
    O constante envolvimento do aluno na solução de problemas impulsiona o perfil investigativo, não apenas como um pesquisador intuitivo, mas, sobretudo, como conhecedor de processos e métodos para a realização de pesquisas científicas.
     
    O grande diferencial deste curso está na estrutura curricular do curso. Nos quatro primeiros semestres o aluno aprende a "saber fazer", ou seja, o aluno aprende a analisar problemas e criar soluções com o uso das tecnologias da informação. Isso permite que o aluno receba no meio do curso de SI, o diploma de Análise e Desenvolvimento de Sistemas. Nos quatro semestres finais, o aluno aprende a "inovar", ou seja, aprende a utilizar a sua capacidade de "saber fazer" para construir produtos ou serviços evolucionários, revolucionários ou até disruptivos dentro de suas próprias startups.</p>



    <section class="galeria">
    <div class="contenedor">

    <div class="semestre">
    <a href="detalhe_curso.html#primeiro_sem" class="desc">1º Semestre</a>
    </div>

    <div class="semestre">
    <a href="detalhe_curso.html#segundo_sem" class="desc">2º Semestre</a>
    </div>

    <div  class="semestre">
    <a href="detalhe_curso.html#terceiro_sem" class="desc">3º Semestre</a>
    </div>

    <div class="semestre">
    <a href="detalhe_curso.html#quarto_sem" class="desc">4º Semestre</a>
    </div>

    <div class="semestre">
    <a href="detalhe_curso.html#quinto_sem" class="desc">5º Semestre</a>
    </div>

    <div class="semestre">
    <a href="detalhe_curso.html#sexto_sem" class="desc">6º Semestre</a>
    </div>

    <div class="semestre">
    <a href="detalhe_curso.html#setimo_sem" class="desc">7º Semestre</a>
    </div>

    <div class="semestre">
    <a href="detalhe_curso.html#oitavo_sem" class="desc">8º Semestre</a>
    </div>


    </div>
</section>


    <h3 class="topicos">Diferenciais do curso </h3>

      <div class="footer">
      <h3 class="topicos">Conceituação Máxima</h3>
      </div>
      <p class="texto"> Os cursos da Faculdade Inovação Tecnologia são todos reconhecidos pelo MEC e todos com ótima avaliações. Os cursos de Administração e Sistemas de Informação têm nota 4 emConceito de Curso no ENADE.
       </p>
       <p class="texto">
           Corpo docente formado por professores, especialistas, mestres e doutores que são referência no mercado e com ampla vivência corporativa. Oferecendo grandes oportunidades de networking.
        </p>
      <p class="texto">
      Alta empregabilidade, os alunos da faculdade Inovação Tecnologia, desde o segundo semester já estão preparados para atuar no mercado de trabalho. Entre as empresas que mais contratam alunos da Faculdade Inovação Tecnologia: Microsoft, IBM, itaú-Unibanco, Santander, Totvs entre outras.
      </p>
	  <p class="texto">
          Laboratórios de última geração, que simulam a realidade das empresa, biblioteca com amplo acervo, lanchonete e infraestrutura completa com acesso facilitado ao deficiente em sala de aula. 
      </p>
      <p class="texto">
      Método de ensino diferenciado, aulas preparadas por professores experientes, apoiadores e atuantes no mercado, com conteúdos além do conceitual, incluindo questões práticas.
       </p>
       <p class="texto">
           Parcerias exclusivas com grandes empresas do mercado de tecnologia, como por Prometric, Oracle, Microsoft, Adobe. oferecemos as melhores ferramentas para que os alunos possam ter a melhores oportunidades.
       </p>
       <p class="texto">
           Apoio total a certificação, concedemos a todos os alunos créditos exclusivos para crescerem ainda mais com os cursos e certificações 
       </p>

       </div>
    <footer class="footer">
      <p>&copy; 2017. Faculdade Tecnologia Inovação.</p>
    </footer>
  </body>
</html>
 