{% extends 'base2.html' %}

	{% block titulo %} Faculdade Inovação Tecnologia - LMS {% endblock %}

	{% block main %}
	<link rel="stylesheet" type="text/css" href="/static/disciplinasnovo.css">
	<section>
		  <div class="titulo">Disciplinas</div>
		  <div class="disciplinas">
		  <a href="#" class="tecweb" >Tecnologia Web</a>
		  <a href="#" class="sql">Linguagem SQL</a>
		  <a href="#" class="engenharia">Engenharia de Software</a>
		  <a href="#" class="linguagem">Linguagem de Programação II</a>
		  <a href="#" class="libras">Libras</a>
		  <a href="#"class="devops">Ambiente de Desenvolvimento e Operação</a>
		  <a href="#" class="gestao">Gestão de Projetos</a>
		  </div>
	</section>

	{%  endblock %}
