<!DOCTYPE=HTML>
	<html>
		<head>

			<title>
				Faculdade Inovação Tecnologia
			</title>

			<meta name="author" content="Bruno Tomas- 1700548">
			<meta name="author" content="Henrique Saula- 1700084">
			<meta name="author" content="Mariana Benevides- 1700549">
			<meta name="author" content="Nayara de Paula- 1700239">
			<meta name="author" content="Pedro Henrique- 1700552">
			<meta name="author" content="Yasmin de Laia- 1700550">

			<meta charset="UTF-8">

			<meta name="viewport" content="width-device-width, initial-scale=1">

			<link rel="shortcut icon" href="imagens\favicon.ico" >

			<link rel="stylesheet" type="text/css" href="css\estilo.css">
			<link rel="stylesheet" type="text/css" href="css\estilo-index.css">

		</head>
		<!--
			Correção EP2 HTML: 9,0
			- Suas páginas não possuem o H1, mas usam o H2 para frente (-1,0)
		-->
		<!--
			Correção EP3 CSS: 8,0
			- Uso de estilo por id (botão de menu) (-1,0)
			- Header da página precisa de um estilo diferente do body (-0,5)
			- Alguns links ficaram sem estilo próprio 
			- A escolha da cor preta de fundo faz com que certos elementos não sejam possíveis de ver (os balões de comentário por exemplo) (-0,5)
		-->
		<!--
			Correção EP4 Layout: 9,0
			- Telas intermediárias ficam com o menu distorcido (tentem 790px mais ou menos) (-0,5)
			- O menu demora para esconder e as vezes ele para em um estado intermediário. (-0,5)
		-->
		<!--
			Correção EP5 Forms: 8,5
			- Mesmo que você deixe o texto no placeholder, é necessário manter os labels (pode ser escondidos) por questão da acessibilidade (-0,5)
			- Atributos name com espaços em alguns casos (-0,5)
			- Falta o atributo name em alguns casos (-0,5)
		-->
		<body class="body">

			<div class="quadro">
				<div class ="imagem">
				<img src="https://github.com/peehscavacini/TecWeb-TF-2B/blob/81755656e9b2e143736f9e4bc7201e549f8fe3e1/logo.png?raw=true" alt="logo" class="logo">
				</div>
			</div>

			<article>
				<!-- Se isso é o cabeçalho de uma página, ela deveria estar direto no BODY, da maneira que está parece que é o cabeçalho de um artigo específico.-->
  				<header class="header">
					<input type="checkbox" id="btn-menu">

					<label for="btn-menu">&#9776;</label>

					<nav class="menu">
						<ul>
							<li><a href="index.html#"> Home </a></li>
							<li>
								<a href="lista_cursos.html#">
									Lista de Cursos 
								</a>
							</li>
							<li>
								<a href="noticias.html#">
									Notícias
								</a>
							</li>
							<li>
								<a href="contato.html#">
									Fale Conosco 
								</a>
							</li>
							<li>
								<a href="cadastro.html#"> 
									Cadastro
								</a>
							</li>
							<li>
								<a href="novadisciplina.html#"> 
									Nova disciplina
								</a>
							</li>							
							<li>
								<a href="login.html#"> 
									Login
								</a>
							</li>							
						</ul>
					</nav>
				</header>
			</article>

			<div class="quadro">
				<header class="titulo">
					<!-- Cade o H1? -->
					<h2>
						A Instituição
					</h2>
				</header>

				<p class="texto">A Faculdade Inovação Tecnologia nasceu da percepção de um grupo de alunos, que desde 2017 sonham em ser referência em TI, 
				Gestão e Design, para suprir a falta de mão de obra especializada do mercado de tecnologia e oferecer 
				uma formação completa e multidisciplinar aos alunos.</p>

				<p class="texto">Com a missão de levar o estado da arte em matéria de tecnologia de ponta às empresas e formar profissionais 
				capazes e competentes, a Faculdade Inovação Tecnologia oferece cursos de Graduação, Pós-Graduação, Extensão e MBA,
				ministrados por mestres e doutores com experiência de mercado, que preparam os estudantes para a realidade do
 				mercado de trabalho e proporcionam uma educação comprometida com a ética, a cidadania, o conhecimento e o atendimento
 				às necessidades contemporâneas, por meio de uma estrutura educacional inovadora e diferenciada.</p>
 			</div>


			<div class="quadro">
				<img src="http://www.impacta.com.br/blog/wp-content/uploads/2015/04/Faculdade.jpg" class="propaganda" alt='Propaganda1'><br/>
			</div>

			<div class="quadro">
 				<h2 class="topicos"> Comentários </h2>
			</div>
 
 			<div class="quadro">

 				<img src="http://img2.web07.cn/UpPic/Png/201410/14/2780951414004513.png" class="balao"   alt='BalaoComentario'>
				<p class="texto2">"Amei a faculdade"- Amanda Silva, estudante de administração, 5°semestre.</p>
				<img src="http://img2.web07.cn/UpPic/Png/201410/14/2780951414004513.png" class="balao" alt='BalaoComentario'>
				<p class="texto2">"A organização da equipe é maravilhosa estou amando"- Roberto Nunes, estudante de Banco de Dados, 2°semestre.</p>
				<img src="http://img2.web07.cn/UpPic/Png/201410/14/2780951414004513.png"  class="balao" alt='BalaoComentario'>
				<p class="texto2">"A faculdade é muito organizada, amei"- Anna Flavia, estudante de Análise e Desenvolvimento de Sistemas, 3°semestre.</p>
				<img src="http://img2.web07.cn/UpPic/Png/201410/14/2780951414004513.png" class="balao"  alt='BalaoComentario'>
				<p class="texto2">"Esse semestre me formo, estou muito feliz"- Jaime Miranda, estudante de Sistemas de Informação, 8°semestre.</p>
 			</div>
 
 			<div class="quadro">
				<img src="http://www.impacta.edu.br/wp-content/themes/impacta/img/missao.jpg" class="propaganda" alt="propaganda2">
			</div>
 

 			<footer class="footer">
				<p>&copy; 2017. Faculdade Tecnologia Inovação.</p>
			</footer>
		</body>
	</html>