<!DOCTYPE html>
<html>
	<head>
		<title>FIT-Faculdade Inovação Tecnologia </title>
		<meta name="author" content="Bruno Tomas- 1700548">
		<meta name="author" content="Henrique Saula- 1700084">
		<meta name="author" content="Nayara de Paula- 1700239">
		<meta name="author" content="Pedro Henrique- 1700552">
		<meta name="author" content="Yasmin de Laia- 1700550">

		<meta charset="UTF-8">

		<meta name="viewport" content="width-device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="css\stylelogado.css">
		<link rel="stylesheet" type="text/css" href="css\logado.css">
	</head>
<body class="body">

		<div class="quadro">
		<div class ="imagem">
		<img src="https://github.com/peehscavacini/TecWeb-TF-2B/blob/81755656e9b2e143736f9e4bc7201e549f8fe3e1/logo.png?raw=true" alt="logo" class="logo">
		</div>
		</div>
	
		<header></header>
		
		<input type = "checkbox" id="chk">
		<label for="chk" class="menu-icon">&#9776;</label>
		<div class="bg"></div>
		<nav class="menulateral" id="principal">
		<p>ACESSO RAPIDO </p>
		<ul>
			<li><a href = "" class="voltar">Voltar</a></li>
			<li><a href = "#secretaria" >Secretaria Online<span>+</span></a></li>
			<li><a href = "#financeiro" >Financeiro Online<span>+</span></a></li>
			<li><a href = "#" >Biblioteca</a></li>
			<li><a href = "#" >Atividades Complementares</a></li>
			<li><a href = "#" >Tutoriais</a></li>
			<li><a href = "#" >Contato Professores</a></li>
			<li><a href = "#mais">Mais<span>+</span></a></li>
			
			
		
		
		<p>SMARTCLASS </p>
		
		
		<li><a href = "#" >Smartclass</a></li>
		</ul>
		</nav>
		
		
		
		<nav class="menulateral" id="secretaria">
		<ul>
			<li><a href = "#" class="voltar">Voltar</a></li>
			<li><a href="#">Notas e Faltas</a></li>
			<li><a href="#">Requerimentos</a></li>
			<li><a href="#">Horarios</a></li>
			<li><a href="#">Manual do aluno</a></li>
		
		</ul>
		
		</nav>
		
		<nav class="menulateral" id="financeiro">
		<ul>
			<li><a href = "#" class="voltar">Voltar</a></li>
			<li><a href="#">Notas e Faltas</a></li>
			<li><a href="#">Requerimentos</a></li>
			<li><a href="#">Horarios</a></li>
			<li><a href="#">Manual do aluno</a></li>
		
		</ul>
		
		</nav>
		
		<nav class="menulateral" id="mais">
		<ul>
			<li><a href = "#" class="voltar">Voltar</a></li>
			<li><a href="#">Notas e Faltas</a></li>
			<li><a href="#">Requerimentos</a></li>
			<li><a href="#">Horarios</a></li>
			<li><a href="#">Manual do aluno</a></li>
		
		</ul>
		
		</nav>


		
		
 		<footer class="footer">
			<p>&copy; 2017. Faculdade Tecnologia Inovação.<p>
		</footer>
		
	</body>
</html>
