<!DOCTYPE=HTML>
<html>
<head>

<title>FIT - Todos os cursos</title>

<meta name="author" content="Bruno Tomas- 1700548">
<meta name="author" content="Henrique Saula- 1700084">
<meta name="author" content="Mariana Benevides- 1700549">
<meta name="author" content="Nayara de Paula- 1700239">
<meta name="author" content="Pedro Henrique- 1700552">
<meta name="author" content="Yasmin de Laia- 1700550">

<meta charset="UTF-8">

<meta name="viewport" content="width-device-width, initial-scale=1">

<link rel="shortcut icon" href="imagens\favicon.ico" >

<link rel="stylesheet" type="text/css" href="css\estilo.css">
<link rel="stylesheet" type="text/css" href="css\estilo-lista_cursos.css">



</head>


<body class="body">

<div class="quadro">
<div class ="imagem">
<img src="https://github.com/peehscavacini/TecWeb-TF-2B/blob/81755656e9b2e143736f9e4bc7201e549f8fe3e1/logo.png?raw=true" alt="logo" class="logo">
</div>
</div>
			<article>
  				<header class="header">
					<input type="checkbox" id="btn-menu">

					<label for="btn-menu">&#9776;</label>

					<nav class="menu">
						<ul>
							<li><a href="index.html#"> Home </a></li>
							<li>
								<a href="lista_cursos.html#">
									Lista de Cursos 
								</a>
							</li>
							<li>
								<a href="noticias.html#">
									Notícias
								</a>
							</li>
							<li>
								<a href="contato.html#">
									Fale Conosco 
								</a>
							</li>
							<li>
								<a href="cadastro.html#"> 
									Cadastro
								</a>
							</li>
							<li>
								<a href="novadisciplina.html#"> 
									Nova disciplina
								</a>
							</li>							
							<li>
								<a href="login.html#"> 
									Login
								</a>
							</li>							
						</ul>
					</nav>
				</header>
			</article>

			
<section class="galeria">
<div class="contenedor">

<div class="foto">
<img src='imagens/1.jpg' alt='Administração - Faculdade Inovação Tecnologia'/>
<a href="disciplinas.html">Administração</a>
</div>

<div class="foto">
<img src='imagens/9.jpg' alt='PG- Faculdade Inovação Tecnologia'/>
<a href="disciplinas.html">Processos Gerenciais</a>
</div>

<div class="foto">
<img src='imagens/3.png' alt='Banco de Dados - Faculdade Inovação Tecnologia'/>
<a href="disciplinas.html">Banco de Dados</a>
</div>

<div class="foto">
<img src='imagens/4.jpg' alt='GTI- Faculdade Inovação Tecnologia'/>
<a href="disciplinas.html">Gestao de T.I</a>
</div>

<div class="foto">
<img src='imagens/5.jpg'  alt='Jogos- Faculdade Inovação Tecnologia'/>
<a href="disciplinas.html">Jogos Digitais</a>
</div>

<div class="foto">
<img src='imagens/6.jpg' alt='PM- Faculdade Inovação Tecnologia'/>
<a href="disciplinas.html">Marketing Digital</a>
</div>

<div class="foto">
<img src='imagens/7.jpg' alt='Redes- Faculdade Inovação Tecnologia'/>
<a href="disciplinas.html">Redes</a>
</div>

<div class="foto">
<img src='imagens/8.png' alt='SI- Faculdade Inovação Tecnologia'/>
<a href="disciplinas.html">Sistemas de Informação</a>
</div>


</div>
</section>
 <footer class="footer">
<p>&copy; 2017. Faculdade Tecnologia Inovação.<p>
</footer>
</body>
</html>
