{% extends 'base.html' %}

	{% block titulo %} Notícias - LMS {% endblock %}

	    {% block main %}


<link rel="stylesheet" type="text/css" href="/static/estilo-noticias.css">




<div class="quadro">
<h2 class="topicos"> Noticias
</h2>
<!-- vários H2 em hierarquias diferentes -->
<h2 class="topicos"> Faculdade Inovação Tecnologia em seu primeiro ano chega nas finais</h2>
<p class="texto">A Faculdade Inovação Tecnologia partcipou de um dos campeanatos regionais de programação e surpreendeu a todos chegando na final. Os participantes tiveram que desenvolver um sistema que solucionasse problemas na área de Inteligencia Artificial.</br>No dia 17 de novembro de 2017, um grupo de alunos da Faculdade Inovação foi premiado na 1.ª edição de tecnologia e inteligencia artificial, que aconteceu na cidade de São Paulo, cujo objetivo é reconhecer e divulgar soluções tecnológicas inovadoras, junto com o patrocinio da maior rede de tecnologica mundial(Microsoft).Com essa premiação a instituição ganhou destaque nas midias sociais.</p>
</div>

<div class="quadro">
<img src='https://1.bp.blogspot.com/-zRv-QEGgB-0/WLosJ9Z0dmI/AAAAAAAAAeE/lygUgblkahQsDOCl4hYacyQuiHqdLVeoACLcB/s1600/code-1839406_1280-520x245_mini.jpg' class="propaganda" alt='Enem - Faculdade Inovação Tecnologia'/>
<h2 class="topicos">Nota Enem</h2>
<p class="texto">Venha fazer parte da nossa instituição usando sua nota adquirida no vestibular ENEM.</p>
<br/><img src='https://abrilexame.files.wordpress.com/2016/11/enem.jpg?quality=70&strip=info&w=680&h=453&crop=1' class="propaganda" alt='Enem - Faculdade Inovação Tecnologia'/><br/>
</div>

		{% endblock %}