<!DOCTYPE=HTML>
<html>
<head>

<title> FIT - Noticias</title>

<meta name="author" content="Bruno Tomas- 1700548">
<meta name="author" content="Henrique Saula- 1700084">
<meta name="author" content="Mariana Benevides- 1700549">
<meta name="author" content="Nayara de Paula- 1700239">
<meta name="author" content="Pedro Henrique- 1700552">
<meta name="author" content="Yasmin de Laia- 1700550">

<meta charset="UTF-8">

<meta name="viewport" content="width-device-width, initial-scale=1">

<link rel="shortcut icon" href="imagens\favicon.ico" >

<link rel="stylesheet" type="text/css" href="static\estilo.css">
<link rel="stylesheet" type="text/css" href="static\estilo-noticias.css">



</head>


<body class="body">

<div class="quadro">
<div class ="imagem">
<img src="https://github.com/peehscavacini/TecWeb-TF-2B/blob/81755656e9b2e143736f9e4bc7201e549f8fe3e1/logo.png?raw=true" alt="logo" class="logo">
</div>
</div>

			<article>
  				<header class="header">
					<input type="checkbox" id="btn-menu">

					<label for="btn-menu">&#9776;</label>

					<nav class="menu">
						<ul>
							<li><a href="index.html#"> Home </a></li>
							<li>
								<a href="lista_cursos.html#">
									Lista de Cursos 
								</a>
							</li>
							<li>
								<a href="noticias.html#">
									Notícias
								</a>
							</li>
							<li>
								<a href="contato.html#">
									Fale Conosco 
								</a>
							</li>
							<li>
								<a href="cadastro.html#"> 
									Cadastro
								</a>
							</li>
							<li>
								<a href="novadisciplina.html#"> 
									Nova disciplina
								</a>
							</li>							
							<li>
								<a href="login.html#"> 
									Login
								</a>
							</li>							
						</ul>
					</nav>
				</header>
			</article>

<div class="quadro">
<h2 class="topicos"> Noticias
</h2>
<!-- vários H2 em hierarquias diferentes -->
<h2 class="topicos"> Faculdade Inovação Tecnologia em seu primeiro ano chega nas finais</h2>
<p class="texto">A Faculdade Inovação Tecnologia partcipou de um dos campeanatos regionais de programação e surpreendeu a todos chegando na final. Os participantes tiveram que desenvolver um sistema que solucionasse problemas na área de Inteligencia Artificial.</br>No dia 17 de novembro de 2017, um grupo de alunos da Faculdade Inovação foi premiado na 1.ª edição de tecnologia e inteligencia artificial, que aconteceu na cidade de São Paulo, cujo objetivo é reconhecer e divulgar soluções tecnológicas inovadoras, junto com o patrocinio da maior rede de tecnologica mundial(Microsoft).Com essa premiação a instituição ganhou destaque nas midias sociais.</p>
</div>

<div class="quadro">
<img src='https://1.bp.blogspot.com/-zRv-QEGgB-0/WLosJ9Z0dmI/AAAAAAAAAeE/lygUgblkahQsDOCl4hYacyQuiHqdLVeoACLcB/s1600/code-1839406_1280-520x245_mini.jpg' class="propaganda" alt='Enem - Faculdade Inovação Tecnologia'/>
<h2 class="topicos">Nota Enem</h2>
<p class="texto">Venha fazer parte da nossa instituição usando sua nota adquirida no vestibular ENEM.</p>
<br/><img src='https://abrilexame.files.wordpress.com/2016/11/enem.jpg?quality=70&strip=info&w=680&h=453&crop=1' class="propaganda" alt='Enem - Faculdade Inovação Tecnologia'/><br/>
</div>

 <footer class="footer">
<p>&copy; 2017. Faculdade Tecnologia Inovação.<p>
</footer>
</body>
</html>