{% extends 'base2.html' %}

	{% block titulo %} Faculdade Inovação Tecnologia - LMS {% endblock %}

	{% block main %}
<link rel="stylesheet" type="text/css" href="/static/EstiloPaginaProfessor.css">




	<div class="bloco">
		<form class="forms1">
				<p>Selecione o exercício desejado:</p>
				<div>
					<button type="button" class="anexar">Procurar</button>
				</div>
				<div>
					Resposta:
				</div>
					<textarea> </textarea>
					<div>
						<button type="submit" class="envio">Enviar</button>
					</div>
		</form>
	</div>
	{%  endblock %}
