{% extends 'base2.html' %}

	{% block titulo %} Faculdade Inovação Tecnologia - LMS {% endblock %}

	{% block main %}
<link rel="stylesheet" type="text/css" href="/static/EstiloNotasFaltas.css">

      <h1 class="titulopag">Notas e Faltas</h1>
      <div class="coluna1">
        <div class="disciplina">Disciplina</div>
        <div class="devops">Ambiente de Desenvolvimento e Operação</div>
        <div class="engenharia">Engenharia de Software</div>
        <div class="gestao">Gestão de Projetos</div>
        <div class="libras">Libras</div>
        <div class="linguagem">Linguagem de Programação II</div>
        <div class="sql">Linguagem SQL</div>
        <div class="tecweb">Tecnologia Web</div>
        <div class="media">Medias</div>
        <div class="turma">Turma</div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="blank1"></div>
        <div class="tipo">Tipo</div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        <div class="blank2"></div>
        <div class="ch">C.H.</div>
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="blank3"></div>
        <div class="mb1">MB1</div>
        <div class="blank4"></div>
        <div class="blank4"></div>
        <div class="blank4"></div>
        <div class="blank4"></div>
        <div class="blank4"></div>
        <div class="blank4"></div>
        <div class="blank4"></div>
        <div class="blank4"></div>
        <div class="sub1">SUB1</div>
        <div class="blank5"></div>
        <div class="blank5"></div>
        <div class="blank5"></div>
        <div class="blank5"></div>
        <div class="blank5"></div>
        <div class="blank5"></div>
        <div class="blank5"></div>
        <div class="blank5"></div>
        <div class="fb1">FB</div>
        <div class="blank6"></div>
        <div class="blank6"></div>
        <div class="blank6"></div>
        <div class="blank6"></div>
        <div class="blank6"></div>
        <div class="blank6"></div>
        <div class="blank6"></div>
        <div class="blank6"></div>
        <div class="mb2">MB2</div>
        <div class="blank7"></div>
        <div class="blank7"></div>
        <div class="blank7"></div>
        <div class="blank7"></div>
        <div class="blank7"></div>
        <div class="blank7"></div>
        <div class="blank7"></div>
        <div class="blank7"></div>
        <div class="sub2">SUB2</div>
        <div class="blank8"></div>
        <div class="blank8"></div>
        <div class="blank8"></div>
        <div class="blank8"></div>
        <div class="blank8"></div>
        <div class="blank8"></div>
        <div class="blank8"></div>
        <div class="blank8"></div>
        <div class="fb2">FB</div>
        <div class="blank9"></div>
        <div class="blank9"></div>
        <div class="blank9"></div>
        <div class="blank9"></div>
        <div class="blank9"></div>
        <div class="blank9"></div>
        <div class="blank9"></div>
        <div class="blank9"></div>
        <div class="ex">EX</div>
        <div class="blank10"></div>
        <div class="blank10"></div>
        <div class="blank10"></div>
        <div class="blank10"></div>
        <div class="blank10"></div>
        <div class="blank10"></div>
        <div class="blank10"></div>
        <div class="blank10"></div>
        <div class="tf">TF</div>
        <div class="blank11"></div>
        <div class="blank11"></div>
        <div class="blank11"></div>
        <div class="blank11"></div>
        <div class="blank11"></div>
        <div class="blank11"></div>
        <div class="blank11"></div>
        <div class="blank11"></div>
        <div class="mf">MF</div>
        <div class="blank12"></div>
        <div class="blank12"></div>
        <div class="blank12"></div>
        <div class="blank12"></div>
        <div class="blank12"></div>
        <div class="blank12"></div>
        <div class="blank12"></div>
        <div class="blank12"></div>
        <div class="situacao">Situação</div>
        <div class="blank13"></div>
        <div class="blank13"></div>
        <div class="blank13"></div>
        <div class="blank13"></div>
        <div class="blank13"></div>
        <div class="blank13"></div>
        <div class="blank13"></div>
        <div class="blank12"></div>
     </div>


          <div class="container-legenda">
              <ul>
                <li>MB1 - Média do 1° Bimestre</li>
                <li>EX - Nota Recuperação</li>
                <li>SUB2 - Prova Substitutiva 2</li>
                <li>FB - Faltas no Bimestre</li>
                <li>MF - Média Final</li>
                <li>IF - Insatisfatório</li>
              </ul>
            </div>
              <div class="coluna2">
                <div class="ch2">Carga Horaria</div>
                <div class="h1">36</div>
                <div class="h2">40</div>
                <div class="h3">72</div>
                <div class="h4">80</div>
                <div class="h5">120</div>
                <div class="h6">160</div>
                <div class="faltas">Faltas</div>
                <div class="f1">9</div>
                <div class="f2">10</div>
                <div class="f3">18</div>
                <div class="f4">20</div>
                <div class="f5">30</div>
                <div class="f6">40</div>
	           </div>

 {%  endblock %}